# Files to ignore
**/.idea
**/.vagrant
**/.css
**/.img
**/*.iml
**/*.log
**/*.class
**/*.box
**/.DS_Store
**/.gradle
**/.travis.yml
**/.settings
**/build/
**/gradle/
**/node_modules/
**/out/
**/logs/

# python
**/venv/
**/bin/
**/include/
**/lib/

# Java
**/target/
**/dependency-reduced-pom.xml

# TestNG
**/test-output/
